.canvas .btn:nth-child(1){
	position: absolute;
	top: 300px;
	left: 0px;
	animation: animasic1 2s infinite;
}
.canvas .btn:nth-child(2){
	position: absolute;
	top: 200px;
	animation: animasic2 1.8s infinite;
}
.canvas .btn:nth-child(3){
	position: absolute;
	top: 250px;
	right: 0px;
	animation: animasic3 1.5s infinite;
}
@keyframes animasic1{
	0%{top: 290px;}
	50%{top: 1000px;}
	100%{top: 290px;}
}
@keyframes animasic2{
	0%{top: 230px;}
	50%{top: 1000px;}
	100%{top: 230px;}
}
@keyframes animasic3{
	0%{top: 250px;}
	50%{top: 1000px;}
	100%{top: 250px;}
}